@{
    ViewBag.Title = "팝빌 휴폐업조회 ASP.NET Core Example.";
}

<div id="content">
    <p class="heading1">@ViewData["Title"]</p>
    <br/>
    <fieldset class="fieldset1">
        <legend>휴폐업조회</legend>
        <ul>
            <li><a href="Closedown/CheckCorpNum">CheckCorpNum</a> 휴폐업 단건조회 </li>
            <li><a href="Closedown/CheckCorpNums">CheckCorpNums</a> 휴폐업 대량조회 </li>
        </ul>
    </fieldset>
    <br/>
    <fieldset class="fieldset1">
        <legend>포인트 관리</legend>
        <ul>
            <li><a href="Closedown/GetBalance">GetBalance</a> 연동회원 잔여포인트 확인 </li>
            <li><a href="Closedown/GetChargeURL">GetChargeURL</a> 연동회원 포인트충전 URL </li>
            <li><a href="Closedown/GetPaymentURL">GetPaymentURL</a> 연동회원 포인트 결제내역 URL </li>
            <li><a href="Closedown/GetUseHistoryURL">GetUseHistoryURL</a> 연동회원 포인트 사용내역 URL </li>
            <li><a href="Closedown/GetPartnerBalance">GetPartnerBalance</a> 파트너 잔여포인트 확인 </li>
            <li><a href="Closedown/GetPartnerURL">GetPartnerURL</a> 파트너 포인트충전 URL </li>
            <li><a href="Closedown/GetUnitCost">GetUnitCost</a> 조회단가 확인 </li>
            <li><a href="Closedown/GetChargeInfo">GetChargeInfo</a> 과금정보 확인 </li>
            <li><a href="Closedown/PaymentRequest">PaymentRequest</a> 연동회원 무통장 입금신청</li>
            <li><a href="Closedown/GetSettleResult">GetSettleResult</a> 연동회원 무통장 입금신청 정보확인</li>
            <li><a href="Closedown/GetPaymentHistory">GetPaymentHistory</a> 연동회원 포인트 결제내역 확인</li>
            <li><a href="Closedown/Refund">Refund</a> 연동회원 포인트 환불신청</li>
            <li><a href="Closedown/GetRefundHistory">GetRefundHistory</a> 연동회원 포인트 환불내역 확인</li>
            <li><a href="Closedown/GetRefundInfo">GetRefundInfo</a> 환불 신청 상태 확인</li>
            <li><a href="Closedown/GetRefundableBalance">GetRefundableBalance</a> 환불가능 포인트 조회</li>
        </ul>
    </fieldset>
    <br/>
    <fieldset class="fieldset1">
        <legend>회원정보</legend>
        <ul>
            <li><a href="Closedown/CheckIsMember">CheckIsMember</a> 연동회원 가입여부 확인 </li>
            <li><a href="Closedown/CheckID">CheckID</a> 아이디 중복 확인 </li>
            <li><a href="Closedown/JoinMember">JoinMember</a> 연동회원 신규가입 </li>
            <li><a href="Closedown/GetCorpInfo">GetCorpInfo</a> 회사정보 확인 </li>
            <li><a href="Closedown/UpdateCorpInfo">UpdateCorpInfo</a> 회사정보 수정 </li>
            <li><a href="Closedown/RegistContact">RegistContact</a> 담당자 등록 </li>
            <li><a href="Closedown/GetContactInfo">GetContactInfo</a> 담당자 정보 확인 </li>
            <li><a href="Closedown/ListContact">ListContact</a> 담당자 목록 확인 </li>
            <li><a href="Closedown/UpdateContact">UpdateContact</a> 담당자 정보 수정 </li>
            <li><a href="Closedown/GetAccessURL">GetAccessURL</a> 팝빌 로그인 URL </li>
            <li><a href="Closedown/QuitMember">QuitMember</a> 팝빌회원 탈퇴 </li>
        </ul>
    </fieldset>
</div>
