@{
    ViewBag.Title = "Response";
}

<div id="content">
    <p class="heading1">Response</p>
    <br/>
    <fieldset class="fieldset1">
        <legend>@ViewData["Title"]</legend>
        <ul>
            <li>Code (응답코드) : @Model.code</li>
            <li>Message (응답메시지) : @Model.message</li>
        </ul>
    </fieldset>
</div>
