@{
	ViewBag.Title = "BulkResponse";
}

<div id="content">
	<p class="heading1">Response</p>
	<br />
	<fieldset class="fieldset1">
		<legend>@ViewData["Title"]</legend>
		<ul>
			<li>code (응답코드) : @Model.code</li>
			<li>message (응답메시지) : @Model.message</li>
			<li>receiptID (접수아이디) : @Model.receiptID</li>
		</ul>
	</fieldset>
</div>
