@{
    ViewBag.Title = "RefundableBalance";
}

<div id="content">
    <p class="heading1">RefundableBalance</p>
    <br/>
    <fieldset class="fieldset1">
        <legend>@ViewData["Title"]</legend>
        <ul>
            <li>환불 가능 포인트 (refundableBalance) : @Model.refundableBalance</li>
        </ul>
    </fieldset>
</div>