@{
    ViewBag.Title = "팝빌 팩스 ASP.NET Core Example.";
}

<div id="content">
    <p class="heading1">@ViewData["Title"]</p>
    <br/>
    <fieldset class="fieldset1">
        <legend>회원정보</legend>
        <ul>
            <li><a href="Fax/CheckIsMember">CheckIsMember</a> (연동회원 가입여부 확인)</li>
            <li><a href="Fax/CheckID">CheckID</a> (아이디 중복 확인)</li>
            <li><a href="Fax/JoinMember">JoinMember</a> (연동회원 신규가입)</li>
            <li><a href="Fax/GetCorpInfo">GetCorpInfo</a> (회사정보 확인)</li>
            <li><a href="Fax/UpdateCorpInfo">UpdateCorpInfo</a> (회사정보 수정)</li>
            <li><a href="Fax/RegistContact">RegistContact</a> (담당자 등록)</li>
            <li><a href="Fax/ListContact">ListContact</a> (담당자 목록 확인)</li>
            <li><a href="Fax/UpdateContact">UpdateContact</a> (담당자 정보 수정)</li>
        </ul>
    </fieldset>
</div>
