@{
    ViewBag.Title = "Response";
}
<div id="content">
    <p class="heading1">Exception</p>
    <br/>
    <fieldset class="fieldset1">
        <legend>@ViewData["Title"]</legend>
        <ul>
            <li>응답코드(Code) : @Model.code</li>
            <li>응답메시지(Message) : @Model.message</li>
        </ul>
    </fieldset>
</div>
