@{
    ViewBag.Title = "ReceiptNum";
}

<div id="content">
    <p class="heading1">Result</p>
    <br/>
    <fieldset class="fieldset1">
        <legend>@ViewData["Title"]</legend>
        <ul>
            <li>ReceiptNum (접수번호) : @Model</li>
        </ul>
    </fieldset>
</div>
