@{
    ViewBag.Title = "GetEmailPublicKeys (유통사업자 메일 목록 확인)";
    Layout = "_Layout";
}

<div id="content">
    <p class="heading1">Response</p>
    <br/>
    <fieldset class="fieldset1">
        <legend>@ViewData["Title"]</legend>
        @{
            int i = 0;
            foreach (var info in Model)
            {
                i++;
                <fieldset class="fieldset2">
                    <legend>유통사업자 메일 목록 확인 [ @i / @Model.Count]</legend>
                    <ul>
                        <li>confirmNum (유통사업자 승인번호) : @info.confirmNum</li>
                        <li>email (메일) : @info.email</li>
                    </ul>
                </fieldset>
            }
        }
    </fieldset>
</div>

