@{
  ViewBag.Title = "GetSendToNTSConfig";
}

<div id="content">
  <p class="heading1">BulkResponse</p>
  <br />
  <fieldset class="fieldset1">
    <legend>@ViewData["Title"]</legend>
    <ul>
      <li>sendToNTS (국세청 전송 설정	) : @Model.sendToNTS</li>
      <li>True : (발행 즉시 전송) / False : (익일 자동 전송)</li>
    </ul>
  </fieldset>
</div>
