@{
  ViewBag.Title = "GetXML (상세정보 확인 (XML))";
}

<div id="content">
  <p class="heading1">Response</p>
  <br/>
  <fieldset class="fieldset1">
    <legend>@ViewData["Title"]</legend>
    <ul>
      <li>code (응답코드) : @Model.code</li>
      <li>message (응답메시지) : @Model.message</li>
      <li>retObject (전자세금계산서 XML 문서) : @Model.retObject</li>
    </ul>
  </fieldset>
</div>
