@{
    ViewBag.Title = "Popbill Exception";
    Layout = "_Layout";
}
<div id="content">
    <p class="heading1">Exception</p>
    <br/>
    <fieldset class="fieldset1">
        <legend>@ViewData["Title"]</legend>
        <ul>
            <li>Exception Code : @Model.code</li>
            <li>Exception Message : @Model.Message</li>
        </ul>=
    </fieldset>
</div>
