@{
    ViewBag.Title = "CheckAutoDenyNumber";
}

<div id="content">
    <p class="heading1">CheckAutoDenyNumber</p>
    <br/>
    <fieldset class="fieldset1">
        <legend>@ViewData["Title"]</legend>
        <ul>
            <li>smsdenyNumber (수신거부번호) : @Model.smsdenyNumber</li>
            <li>regDT (등록일시) : @Model.regDT</li>
        </ul>
    </fieldset>
</div>
