@{
	ViewBag.Title = "Result";
}

<div id="content">
	<p class="heading1">Result</p>
	<br />
	<fieldset class="fieldset1">
		<legend>@ViewData["Title"]</legend>
		<ul>
			<li>Result : @Model</li>
		</ul>
	</fieldset>
</div>